.blue {
  color: #323a47;
}
.hover-blue:hover {
  color: #323a47;
}
.bg-blue {
  background-color: #323a47;
}
.yellow {
  color: #deb33e;
}
.bg-yellow {
  background-color: #deb33e;
}
.hover-yellow:hover {
  color: #deb33e;
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.hover-white:hover {
  color: white;
}
@media (max-width: 520px) {
  .hide-xs {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .hide-small {
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hide-medium {
    display: none !important;
  }
}
@media (min-width: 1025px) and (max-width: 1276px) {
  .hide-large {
    display: none !important;
  }
}
@media (min-width: 1277px) {
  .hide-xl {
    display: none !important;
  }
}
@media (min-width: 520px+1) {
  .show-xs {
    display: none !important;
  }
}
@media (min-width: 768px+1) {
  .show-small {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .show-medium {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  .show-medium {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .show-large {
    display: none !important;
  }
}
@media (min-width: 1277px) {
  .show-large {
    display: none !important;
  }
}
@media (min-width: 1276px) {
  .show-xl {
    display: none !important;
  }
}
.row {
  padding: 0.5rem;
  position: relative;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.c-12 {
  padding: 0.5rem;
  float: left;
  width: 100%;
}
.c-11 {
  padding: 0.5rem;
  float: left;
  width: 100%;
  width: 91.66666666666667%;
}
.c-10 {
  padding: 0.5rem;
  float: left;
  width: 100%;
  width: 83.33333333333334%;
}
.c-9 {
  padding: 0.5rem;
  float: left;
  width: 100%;
  width: 75%;
}
.c-8 {
  padding: 0.5rem;
  float: left;
  width: 100%;
  width: 66.66666666666667%;
}
.c-7 {
  padding: 0.5rem;
  float: left;
  width: 100%;
  width: 58.333333333333336%;
}
.c-6 {
  padding: 0.5rem;
  float: left;
  width: 50%;
}
.c-5 {
  padding: 0.5rem;
  float: left;
  width: 100%;
  width: 41.66666666666667%;
}
.c-4 {
  padding: 0.5rem;
  float: left;
  width: 33.333333333333336%;
}
.c-3 {
  padding: 0.5rem;
  float: left;
  width: 25%;
}
.c-2 {
  padding: 0.5rem;
  float: left;
  width: 16.666666666666668%;
}
.c-1 {
  padding: 0.5rem;
  float: left;
  width: 8.333333333333334%;
}
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Lato', san-serif;
  font-weight: 400;
  font-size: 16px;
  color: #323a47;
}
b {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
}
a {
  color: inherit;
  text-decoration: none;
}
.link-me-bro {
  -webkit-border-radius: 3px;
  /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 3px;
  /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box;
  /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
  border: 4px solid;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0.25em;
  padding: 0.875em 1.25em 0.875em 1.25em;
  display: inline-block;
}
.contact-nav {
  font-size: 0.875rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.contact-nav ul {
  display: inline-block;
  margin: 1rem 0;
}
.contact-nav ul li {
  float: left;
  margin-right: 1rem;
}
.contact-nav ul li:last-child {
  margin-right: 0;
}
#hero {
  height: 100%;
  margin-top: -30px;
  margin-bottom: 6.25rem;
  text-align: center;
  background-image: url('/img/film.jpg');
  background-size: 100%;
  background-size: cover;
}
#hero hgroup {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
  padding: 0 2rem;
}
#hero hgroup h1 {
  font-size: 4.75rem;
}
#hero hgroup h2 {
  margin-top: 0.375em;
  font-size: 1.375rem;
  line-height: 1.375em;
}
#hero hgroup h1,
#hero hgroup h2 {
  letter-spacing: 0.125em;
}
#hero footer {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
}
#portfolio {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 520px) {
  #portfolio {
    width: 30.5rem;
  }
}
@media screen and (min-width: 768px) {
  #portfolio {
    width: 46.25rem;
  }
}
@media screen and (min-width: 1024px) {
  #portfolio {
    width: 62rem;
  }
}
@media screen and (min-width: 1276px) {
  #portfolio {
    width: 77.75rem;
  }
}
#portfolio a,
#portfolio img,
#portfolio li {
  display: block;
}
#portfolio li {
  margin-bottom: 4px;
  width: 100%;
}
#portfolio img {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 520px) {
  #portfolio li {
    display: block;
    width: auto;
    margin-bottom: 1rem;
  }
}
#root-footer {
  text-align: center;
  margin: 8rem 0;
}
#root-footer img,
#root-footer svg {
  display: block;
  margin: 0 auto;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
#root-footer .link-me-bro {
  margin: 2rem 0 1.5rem 0;
}
#footer-postmark.animate #waves {
  -webkit-animation: moveWaves .5s infinite linear forwards;
  -moz-animation: moveWaves .5s infinite linear forwards;
  -o-animation: moveWaves .5s infinite linear forwards;
  animation: moveWaves .5s infinite linear forwards;
}
#footer-postmark.animate #stroke-caps {
  -webkit-animation: moveCaps .5s infinite linear forwards;
  -moz-animation: moveCaps .5s infinite linear forwards;
  -o-animation: moveCaps .5s infinite linear forwards;
  animation: moveCaps .5s infinite linear forwards;
}
@-webkit-keyframes moveCaps {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 4.5px);
    -moz-transform: translate(0, 4.5px);
    -o-transform: translate(0, 4.5px);
    transform: translate(0, 4.5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes moveCaps {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 4.5px);
    -moz-transform: translate(0, 4.5px);
    -o-transform: translate(0, 4.5px);
    transform: translate(0, 4.5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes moveCaps {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 4.5px);
    -moz-transform: translate(0, 4.5px);
    -o-transform: translate(0, 4.5px);
    transform: translate(0, 4.5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes moveCaps {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 4.5px);
    -moz-transform: translate(0, 4.5px);
    -o-transform: translate(0, 4.5px);
    transform: translate(0, 4.5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes moveWaves {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-27px, 0);
    -moz-transform: translate(-27px, 0);
    -o-transform: translate(-27px, 0);
    transform: translate(-27px, 0);
  }
}
@-moz-keyframes moveWaves {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-27px, 0);
    -moz-transform: translate(-27px, 0);
    -o-transform: translate(-27px, 0);
    transform: translate(-27px, 0);
  }
}
@-o-keyframes moveWaves {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-27px, 0);
    -moz-transform: translate(-27px, 0);
    -o-transform: translate(-27px, 0);
    transform: translate(-27px, 0);
  }
}
@keyframes moveWaves {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-27px, 0);
    -moz-transform: translate(-27px, 0);
    -o-transform: translate(-27px, 0);
    transform: translate(-27px, 0);
  }
}
* {
  -webkit-font-smoothing: antialiased;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
